body {
  margin: 0;
  background-color: #030303;
  font-family: "Poppins";
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.App {
  /* font-family: sans-serif; */
  text-align: center;
  /* background-color: #030303; */
}
